<!-- extends the base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- title block -->
{% block title %}{{ object.name }}{% endblock %}
<meta name="description" content="{{object.name}} located at {{object.address}} provides an excellent play area for children to stay active and have fun. With affordable pricing starting at only {{Object.price}}, families from all backgrounds can enjoy the expansive play area. The convenient location and ample parking make it easily accessible for everyone. The play area is cleaned regularly to ensure hygiene and safety, providing a safe and secure environment for children to play. Come and visit Team up sports arena today for an unforgettable playtime experience! ">
{% block header %}
    {% include 'ground/header.html' %}
{% endblock %}

<!-- content block for the list of grounds -->
{% block content %}
    <!-- <link rel="stylesheet" href="{% static 'css/list_page.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/ground_detail.css' %}">-->

<section>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div>
                    <img src="{{ object.image.url }}" class="img-fluid" alt="{{object.name}">
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                <h1>{{ object.name }}</h1>
                <hr style="max-width:500px; height: 2px">
                <h5><i class="bi bi-geo-alt-fill" style="color: #73C665;"></i> {{ object.address }}</h5>
                <h5><i class="bi bi-tag-fill" style="color: #73C665;"></i> Rs. {{ object.price }} per hour</h5>
                <h5><i class="bi bi-hash" style="color: #73C665;"></i>  courts {{object.num_of_courts}} </h5>
                <h5><i class="bx bx-football" style="color: #73C665;"></i> {{ object.sports_type }}</h5>
                <div class="container">
                    <div class="row">
                        <hr style="max-width:500px; height: 2px;">
                            <table class="attributes">
                                <tr>
                                    <th  class= 'bulit_properties' scope="col" ><i class="bi bi-check-circle-fill" style="color: #73C665;"></i> Toilet</th>
                                    <th  class= 'bulit_properties' scope="col" ><i class="bi bi-check-circle-fill" style="color: #73C665;"></i> Flood Lights</th>
                                </tr>
                                <tr>
                                    <th  class= 'bulit_properties' scope="col" ><i class="bi bi-check-circle-fill" style="color: #73C665;"></i> Parking</th>
                                    <th  class= 'bulit_properties' scope="col" ><i class="bi bi-check-circle-fill" style="color: #73C665;"></i> Drinks</th>
                                </tr>
                            </table>           
                    </div>                 
                </div>
                <section id="hero" class="d-flex align-items-center" style="background-color: white; padding-bottom: 0px;">
                    <div class="container">
                      <div class="row">
                          <div >
                            <a id="Call_Now" href="tel: +92{{object.owner_contact}}" class="download-btn" style="margin-top:5px;"><i class="bx bxs-phone"></i> Call Now</a>
                            <a id="View_Map" href="{{object.map_link}}" class="download-btn" style="margin-top:5px;  background-color: white; border: 2px solid var(--dark); border-radius: 3px;  color: var(--dark); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); " ><i class="bx bxs-map"></i> View on Map</a>
                          </div>
                      </div>
                    </div>
                
                </section>


            </div>
        </div>
    </div>
</section>
<!--     
     <section>
    
     <div class="py-5">
     <div class="container">
         <div class="row">
             <div class="col-md-6">
                 <img src="{{ object.image.url }}" class="card-img-top" alt="...">
             </div>
             <div class="col-md-6">
                 <h1>{{ object.name }}</h1>
                 <p>{{ object.description }}</p>
                    </ul>
                </div>
                </div>
                </div>
                </div>
                </section> -->
    {% endblock %}
    {% block footer %}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    {% include 'footer.html' %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}

