
<!-- extends the base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- title block -->
{% block title %}Grounds{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static '/css/base.css' %}">
<link rel="stylesheet" href="{% static '/css/ground/base.css' %}">

<header id="header" class="fixed-top  header-transparent ">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="{% url 'ground_list' %}">Crowded</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'home'%}#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="{% url 'home'%}#features">Features</a></li>
        <!--
        <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
        <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
        -->
        <li><a class="nav-link scrollto" href="{% url 'home'%}#faq">F.A.Q</a></li>
        <li id="social_media" class="dropdown"><a href="#"><span>Social Media</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="https://www.facebook.com/Crowdedpk-111621061835765">Facebook</a></li>
            <li><a href="https://www.instagram.com/crowded.pk/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/company/crowded-pk/">Linkedin</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="{% url 'home'%}#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> 
    

  </div>
          <!-- give the search bar a class of search-bar and margin of 10px inside the container -->  
          <div id="Search1" class="search-bar" style="margin: auto;display: flex; align-items:center;align-content: center; min-width: 200px;max-width: 900px; padding: 10px;">
            <input type="text" id="pac-input" class="form-control" placeholder="Search for Grounds and Locations">
        </div>
</header>
{% endblock %}

<!-- content block for the list of grounds -->
{% block content %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <section>
    <div class="py-5">
    <div class="container">

        
        <div id="list" class="row hidden-md-up">
          {% for ground in object_list %}
            <div class=" col-md-4">
                <div id="ground_card" class="card" onclick="document.location='{% url 'ground_detail' ground.id %}'" style="margin-top: 20px;">
                    <img src="{{ ground.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ ground.name }}</h5>
                        <a class="list-group-item"><i class='bx bx-map'></i> {{ground.area}}, {{ground.city}}</a>
                        <a class="list-group-item"><i class='bx bx-money'></i> Rs. {{ground.price}} per hour</a>
                        <a id="ground_card" href="{% url 'ground_detail' ground.id %}" class="btn btn-primary" style="width:100%; margin-top:8px;">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<!-- footer block -->
{% block footer %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% include 'footer.html' %}
{% endblock %}

<!-- scripts block -->
{% block scripts %}

    <script>
        var input1 = document.getElementById("pac-input");
        input1.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("pac-input").blur();
        }
        });
        console.log("hello")
        const data = "{{qs_json}}"
        const qs = JSON.parse(data.replace(/&quot;/g, '"'))
        console.log(qs)
        const input = document.getElementById("pac-input");
        let filteredArray = []
        input.addEventListener("keyup",(e)=>{
            list.innerHTML = ""
            filteredArray = qs.filter(ground => ground.name.toLowerCase().includes(e.target.value.toLowerCase()) || ground.should_also_be_shown_in.toLowerCase().includes(e.target.value.toLowerCase()))
            // filteredArray = filteredArray.concat(qs.filter(ground => ground.should_also_be_shown_in.toLowerCase().includes(e.target.value.toLowerCase())))
            if (filteredArray.length == 0){
                list.innerHTML = "<h1 style='text-align: center;'>No Grounds Found</h1>"
            }

            else {
                //  / list.innerHTML = `<p><strong>${filteredArray.length} Grounds Found</strong></p>`
                // list.innerHTML = `<p><strong>${filteredArray.length} Grounds Found</strong></p>`
                filteredArray.forEach(ground => {
                    list.innerHTML += `
                    <div class=" col-md-4">
                        <div id="ground_card" class="card" onclick="document.location='/ground/${ground.id}'" style="margin-top: 20px;">
                    <img src="media/${ground.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">${ground.name}</h5>
                        <a class="list-group-item"><i class='bx bx-map'></i> ${ground.area}, ${ground.city}</a>
                        <a class="list-group-item"><i class='bx bx-money'></i> Rs. ${ground.price} per hour</a>
                        <a id="ground_card" href="/ground/${ground.id}" class="btn btn-primary" style="width:100%; margin-top:8px;" >View Details</a>
                    </div>
                </div>
            </div>`
        })
            }
        })    
    </script>
   
{% endblock %}
</section>
