
<!-- extends the base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- title block -->
{% block title %}Grounds{% endblock %}
{% block header %}
    {% include 'ground/header.html' %}
{% endblock %}

<!-- content block for the list of grounds -->
{% block content %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <section>
    <div class="py-5">
    <div class="container">
        <!-- give the search bar a class of search-bar and margin of 10px inside the container -->  
        <div id="Search1" class="search-bar" style="margin-bottom:20px; display: flex; align-items:center; ">
            <input type="text" id="pac-input" class="form-control" placeholder="Search for Grounds and Locations">
        </div>
        
        <div id="list" class="row hidden-md-up">
          {% for ground in object_list %}
            <div class=" col-md-4">
                <div id="ground_card" class="card" onclick="document.location='{% url 'ground_detail' ground.id %}'">
                    <img src="{{ ground.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ ground.name }}</h5>
                        <a class="list-group-item"><i class='bx bx-map'></i> {{ground.area}}, {{ground.city}}</a>
                        <a class="list-group-item"><i class='bx bx-money'></i> Rs. {{ground.price}} per hour</a>
                        <a id="view_details" href="{% url 'ground_detail' ground.id %}" class="btn btn-primary" style="width:100%; margin-top:8px;">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<!-- footer block -->
{% block footer %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% include 'footer.html' %}
{% endblock %}

<!-- scripts block -->
{% block scripts %}

    <script>
        var input1 = document.getElementById("pac-input");
        input1.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("pac-input").blur();
        }
        });

        const data = "{{qs_json}}"
        const qs = JSON.parse(data.replace(/&quot;/g, '"'))
        console.log(qs)
        const input = document.getElementById("pac-input");
        let filteredArray = []
        input.addEventListener("keyup",(e)=>{
            list.innerHTML = ""
            filteredArray = qs.filter(ground => ground.name.toLowerCase().includes(e.target.value.toLowerCase()) || ground.area.toLowerCase().includes(e.target.value.toLowerCase()))
            filteredArray = filteredArray.concat(qs.filter(ground => ground.should_also_be_shown_in.toLowerCase().includes(e.target.value.toLowerCase())))
            if (filteredArray.length == 0){
                list.innerHTML = "<h1 style='text-align: center;'>No Grounds Found</h1>"
            }

            else {
                list.innerHTML = `<p><strong>${filteredArray.length} Grounds Found</strong></p>`
                filteredArray.forEach(ground => {
                    list.innerHTML += `
                    <div class=" col-md-4">
                        <div id="ground_card" class="card" onclick="document.location='/ground/${ground.id}'">
                    <img src="media/${ground.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">${ground.name}</h5>
                        <a class="list-group-item"><i class='bx bx-map'></i> ${ground.area}, ${ground.city}</a>
                        <a class="list-group-item"><i class='bx bx-money'></i> Rs. ${ground.price} per hour</a>
                        <a href="/ground/${ground.id}" class="btn btn-primary" style="width:100%; margin-top:8px;" >View Details</a>
                    </div>
                </div>
            </div>`
        })
            }
        })    
    </script>
    <script>
        function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
    
        // Enabling the debug mode flag is useful during implementation,
        // but it's recommended you remove it for production
        mixpanel.init('0604195fc6d63732cf174888608f5728');
        mixpanel.track("page_viewed", {
            "page_name": "Search Results",
            "page_url": window.location.href
        });
        mixpanel.track_links("#Search1","search_query", {
            "search_query": e.target.value,
            "result_length": filteredArray.length,
            "result": filteredArray.map(ground => {
                return ({
                    "Ground Name": ground.name,
                    "Ground Area": ground.area,
                    "Ground City": ground.city,
                    "Ground Price": ground.price,
                    "Ground Image": ground.image,
                    "Ground ID": ground.id
                })
            })
        });
    </script>
{% endblock %}
</section>
